<template name="Home">
    <div class="col12 clearfix">
        <div id="map" class="maphold pin-left"></div>
        <div class="sidebar pin-right fill-denim dark center">
            <div class="col12 pad2">
                <h3 class="fancy">Sealevel Rise + Elevation</h3>
                <h4 class="fancy">Surface API</h4>
                <p class="quiet small">Compare the relationship between elevation and various sea level inundations using the <a href="https://mapbox.com/developers/api/surface">Surface API</a>. Draw a line by clicking the map twice.</p>
            </div>
            <div class="col12 pin-bottom js-chartdiv">
                <div id="chart"></div>
            </div>
        </div>
    </div>
</template>
